$color-primary:#FFBC00;

$count:100;  

@for $i from 0 through $count {
	@if $i % 5 == 0 {
		$unit: #{$i}px;
				
		.o-#{$i} {
			margin: $unit
		}
		
		.ob-#{$i} {
			margin-bottom: $unit
		}
		
		.ot-#{$i} {
			margin-top: $unit
		}
		
		.ol-#{$i} {
			margin-left: $unit
		}
		
		.or-#{$i} {
			margin-right: $unit
		}
		
		.p-#{$i} {
			padding: $unit
		}
		
		.pb-#{$i} {
			padding-bottom: $unit
		}
		
		.pt-#{$i} {
			padding-top: $unit
		}
		
		.pl-#{$i} {
			padding-left: $unit
		}
		
		.pr-#{$i} {
			padding-right: $unit
		}
		


	}
}

html{
    background: #fff;    
}


#bootstrapIndicator{
	position: fixed;
	top:0;
	left:0;
	right:0;
	bottom: 0;
	height: 100%;
	width:100%;
	z-index:99;
	background: url(../images/splash.jpg) no-repeat center center #fff;
	background-size: cover;	

}


loader {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 9999;
  height: 100%;
  background: rgba(0,0,0, 0.1); }
  loader .loader {
    width: 100px !important;
    top: 50%;
    margin-top: -5em; }
	


.loader {
  margin: 6em auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(255, 255, 255, 0.2);
  border-right: 1.1em solid rgba(255, 255, 255, 0.2);
  border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
  border-left: 1.1em solid #ffffff;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear; }

.loader, .loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em; }
  
  
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
	



body{
	margin:0;
	padding:0;
	font-family: 'Roboto', 'Open Sans', 'sans-serif';
	background: #fff!important; 
	overflow-y:scroll;
  	shape-rendering: crispEdges;
	font-size:13px;    
}

.no-overflow{
	overflow: hidden;
}

.text-center{
    text-align: center;
}

.md-avatar.initial-img{
    text-align: center;
    color:#fff;
    font-size:9px;
    font-weight: bold;
    line-height: 40px;
}


// APP MENU

.app-menu md-list-item{
	display: block;
	text-align: center;
	padding:0!important;  
	position: relative;
	
	
		
	
	&:hover, &.active{
		border-color: $color-primary;
		background-color: #F3F3F3;
		
		md-icon, span{
			color: darken($color-primary, 20%);	
		}
	}
	
	a{
		padding:20px 0;
		display: block;
		cursor: pointer;
	}
	
	md-icon{
		text-align: center;
		font-size:25px;
	}
	span{
		display: block;
		padding: 5px 0;
		font-size: 13px;
        font-family:tahoma;        
	}
	
	i.notification{
		width: 25px;
		height: 25px;
		text-align: center;
		font-size: 14px;
		line-height: 25px;
		color: #fff;
		background-color: $color-primary;
		display: inline-block;
		border-radius: 15px;
		position: absolute;
		top: 10px;
		right: 15px;
		font-style: normal;
		z-index: 9;
	}
	
}

.side-menu md-list-item{
	border-left:4px solid fade-out($color-primary, 0.4);
}


.grid-menu md-list-item{
	width:33%;
	float:left;
	&:hover, &.active{
		border-color: $color-primary;
		background-color: #fff;
		
		md-icon, span{
			color: $color-primary	
		}
	}
}



/*
.grid-menu{
    md-list-item {          
        display:block;
        width:50%;
        text-align: center;
        float:left;
        margin-bottom:20px;
        // border:1px solid #FFBC00;
        a {
            position: relative;                     
            padding: 20px 30px;
            text-align: center;
            border:2px solid #f0f0f0;
            width:140px;
            
            overflow: visible;
    
            
            md-icon {
                width:42px;
                font-size:40px;
                display:block;
                padding:0 0 30px;
            }
            
            .notification {
                position: absolute;
                top:-10px;
                right:-10px;
                background: #FFBC00;
                color:#fff;
                text-align: center;
                border-radius: 50%;
                width:40px;
                height:40px;
                line-height: 40px; 
                font-style: normal;
                font-weight: bold;  
            }
            
        }
    }
}

.side-menu {
    md-list-item{
        margin:15px 0;
        text-align: left;
        md-icon{
            font-size:25px;
            margin-right: 15px;
        }
        
        &.active {
            background: #FFBC00;
            color:#fff;
            md-icon{
                color:#fff;
            }
        }
    }
}

*/

.auth-box-wrapper{
    padding:20px 30px;
    background: #fff;
    .logo{
        margin:30px 0 60px;
        text-align: center;
        img{
            width:90%;
            margin:0 auto;        
        }
    }
}

md-list-item {
    .amount{        
        float: right;
        text-align: right;
        .current{
            display: block;
            font-weight: bold;
        }
        .total{
            display: block;
            font-weight: bold;
            font-size: 10px;
            font-weight: normal;
        }
    }
}

.no-content{
    font-size:15px;
}

.header-total{
    float:right;
    margin-right: 10px;
}

.limit-box{
    margin-top:15px;
    border-top:2px solid #dedede;
    text-align: center;
    
    p {
        margin: 20px 0 0;
    }
}

.profile-loading{    
    background: #f0f0f0;
    overflow: none;
    padding:80px 0 120px;
    text-align: center;
}

.profile{    
    direction: rtl;
    background: #f0f0f0;
    padding: 30px;
}

.summary{
    font-size:9px;
}