<style>
    .md-sidenav-left {
        display: none!important
    }
</style>
<md-content class="md-padding">
    <div class="auth-container">
        <form name="form" class="auth-box-wrapper" ng-submit="ctrl.login()">
            <div class="logo">
                <img src="images/logo.gif" alt="Lebanese university mutual fund">
            </div>
            <md-input-container class="md-block">
                <label>User ID</label>
                <input type="text" name="username" ng-model="ctrl.model.username" required>
                <div ng-messages="form.username.$error" ng-if="form.username.$dirty">
                    <div ng-message="required">This is required.</div>
                </div>
            </md-input-container>
            <md-input-container md-no-float class="md-block">
                <label>Password</label>
                <input type="password" name="password" ng-model="ctrl.model.password">
            </md-input-container>
            <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
                <md-button class="md-primary md-raised btn-block" type="submit" class="btn-active">Login</md-button>
            </section>
        </form>
    </div>
</md-content>