<md-toolbar>
    <div class="md-toolbar-tools">
        <md-button class="md-icon-button" aria-label="Menu" ng-click="app.toggleSideNav()">
            <md-icon>menu</md-icon>
        </md-button>
        <h2>
          <span>تفاصيل المستفيدين</span>
        </h2>
    </div>
</md-toolbar>

<md-content class="md-padding">
    <md-tabs md-dynamic-height class="md-border-bottom">
        <md-tab label="Pharmacies">
            <md-content>

                <div class="no-content" ng-show="ctrl.pharmacyTreatments.length === 0">
                    <div class="no-content-box p-30">
                        No Treatments found
                    </div>
                </div>

                <section class="ob-10" ng-repeat="group in ctrl.pharmacyTreatments">
                    <md-subheader class="ob-5 md-primary" ng-click="toggle('pharm', $index)">
                        {{::group.label}} <small class="summary">{{::summary(group.values, 'pharmacy.Descr')}}</small>
                        <b class="header-total">LBP {{::total(group.values, 'kima_sandouk')}}</b>
                    </md-subheader>

                    <div class="md-whiteframe-2dp" class="ob-5" ng-show="visible['pharm'][$index]">
                        <md-list>
                            <md-list-item class="md-3-line" ng-repeat="item in group.values">
                                <span ng-style="::{'background-color': item.color}" class="md-avatar initial-img">{{::item.REFRENCE}}</span>
                                <div class="md-list-item-text">
                                    <h3>{{::item.pharmacy.Descr }}</h3>
                                    <div class="amount">
                                        <span class="current">{{::item.kima_sandouk | number}}</span>
                                        <span class="total">LBP {{::item.kima_ijmaliya | number}}</span>
                                    </div>
                                    <h4><b>{{::item.ref_date_reel | moment:'MMM, DD YYYY'}}</b></h4>
                                    <h4>Payed at: <b>{{::item.REF_DATE | moment:'MMM, DD YYYY'}}</b></h4>
                                </div>
                                <!--<md-icon aria-label="Edit" class="md-secondary" ng-click="ctrl.openEditDialog(item)">more_vert</md-icon>-->
                            </md-list-item>
                            <!--<md-divider></md-divider>-->
                        </md-list>
                    </div>
                </section>

                <div class="limit-box" ng-show="ctrl.pharmacyTreatments.length > 0 && ctrl.pharmLimit > 0">
                    <p>Showing the last {{ctrl.labLimit}} items</p>
                    <md-button ng-click="ctrl.showAllPharm()">show all</md-button>
                </div>

            </md-content>
        </md-tab>
        <md-tab label="Laboratories">
            <md-content>
                <div class="no-content" ng-show="ctrl.labTreatments.length === 0">
                    <div class="no-content-box p-30">
                        No Treatments found
                    </div>
                </div>

                <section class="ob-10" ng-repeat="group in ctrl.labTreatments">
                    <md-subheader class="ob-5 md-primary" ng-click="toggle('lab', $index)">{{::group.label}}
                        <small class="summary">{{::summary(group.values, 'lab.LAB_NAME')}}</small>
                        <b class="header-total">LBP {{::total(group.values, 'houssat_sandouk')}}</b>
                    </md-subheader>

                    <div class="md-whiteframe-2dp" class="ob-5" ng-show="visible['lab'][$index]">
                        <md-list>
                            <md-list-item class="md-3-line" ng-repeat="item in group.values">
                                <span ng-style="::{'background-color': item.color}" class="md-avatar initial-img">{{::item.REFRENCE}}</span>
                                <div class="md-list-item-text">
                                    <h3>{{::item.lab.LAB_NAME }}</h3>
                                    <div class="amount">
                                        <span class="current">{{::item.houssat_sandouk | number}}</span>
                                        <span class="total">LBP {{::item.kima_ijmalia_mawafak | number}}</span>
                                    </div>
                                    <h4><b>{{::item.VCH_DATE | moment:'MMM, DD YYYY'}}</b></h4>
                                    <h4>Payed at: <b>{{::item.REF_DATE | moment:'MMM, DD YYYY'}}</b></h4>
                                </div>
                                <!--<md-icon aria-label="Edit" class="md-secondary" ng-click="ctrl.openEditDialog(item)">more_vert</md-icon>-->
                            </md-list-item>
                            <!--<md-divider></md-divider>-->
                        </md-list>
                    </div>
                </section>
                <div class="limit-box" ng-show="ctrl.labTreatments.length > 0 && ctrl.labLimit > 0">
                    <p>Showing the last {{ctrl.labLimit}} items</p>
                    <md-button ng-click="ctrl.showAllLab()">show all</md-button>
                </div>
            </md-content>
        </md-tab>
        <md-tab label="Chronic Diseases">
            <md-content>
                <div class="no-content" ng-show="ctrl.chronicDiseases.length === 0">
                    <div class="no-content-box p-30 text-center">
                        <p>Thanks God ! 😊</p>
                        <p>No diseases found</p>
                    </div>
                </div>

                <md-list>
                    <md-list-item class="md-2-line" ng-repeat="item in ctrl.chronicDiseases">
                        <span ng-style="::{'background-color': item.color}" class="md-avatar initial-img">{{::item.NumeroMouwafaa}}</span>
                        <div class="md-list-item-text">
                            <h3>{{::item.disease.Name}}</h3>
                            <h3>{{::item.disease.Type}}</h3>

                            <!--<md-icon aria-label="Edit" class="md-secondary" ng-click="ctrl.openEditDialog(item)">more_vert</md-icon>-->
                            <md-divider></md-divider>
                    </md-list-item>
                </md-list>

            </md-content>
        </md-tab>

    </md-tabs>
</md-content>