<md-toolbar>
    <div class="md-toolbar-tools">
        <md-button class="md-icon-button" aria-label="Menu" ng-click="app.toggleSideNav()">
            <md-icon>menu</md-icon>
        </md-button>
        <h2>
          <span>المستفيدين</span>
        </h2>
    </div>
</md-toolbar>
<md-content class="md-padding">
    <div class="no-content" ng-show="ctrl.rows.length === 0">
        <div class="no-content-box p-30">
            No Beneficiaries found
        </div>
    </div>
    <md-list>
        <md-list-item ui-sref="beneficiaries/details({id:item.Id, pid: item.PID})" class="md-3-line" ng-repeat="item in ctrl.rows">
            <span ng-style="{'background-color': item.color}" class="md-avatar initial-img" ng-class="{small:item.initialCount > 2}">{{::item.Id}}</span>
            <div class="md-list-item-text" layout="column">
                <h3> <small></small> {{::item.name }}</h3>
                <h4>{{::item.DOB | moment:'MMM, DD YYYY'}}</h4>
                <h4>{{::item.DOB | ago:true}}</h4>
                <p>{{::item.relation.Description}} {{::item.F_NOTE }}</p>
            </div>
            <!--<md-icon aria-label="Edit" class="md-secondary" ng-click="ctrl.openEditDialog(item)">more_vert</md-icon>-->
        </md-list-item>
        <md-divider></md-divider>
        <div class="text-center ot-10">{{::ctrl.rows.length}} beneficiaries</div>
    </md-list>
</md-content>
<ui-view></ui-view>