<div ng-if="!profile" class="profile-loading">
    <md-progress-circular md-mode="indeterminate"></md-progress-circular>
</div>
<div class="profile" ng-if="profile">
    <h2>[{{::profile.TeaID}}] {{::profile.FirstName}} {{::profile.middleName}} {{::profile.LastName}}</h2>
    <p>كلية {{::profile.branch.faculty.Description}} الفرع {{::profile.branch.Description}}</p>
    <p>{{::profile.DESC}}</p>
    <p>{{::profile.dob | ago:true}}</p>
    <p>{{::profile.TEL_NO}}</p>
    <p>الحساب المصرفي: <b>****{{profile.PersAccount | end}}</b></p>
</div>
<md-list class="app-menu grid-menu">
    <md-list-item ng-if="!item.hideOnHome" ng-repeat="item in app.menu" ng-class="{active:item.active}">
        <i ng-if="item.notification" class="notification">{{item.notification}}</i>
        <md-button ui-sref="{{item.state}}" ng-click="app.closeSideNav()">
            <md-icon>{{item.icon}}</md-icon>
            <span>{{item.title}}</span>
        </md-button>
    </md-list-item>
</md-list>