<md-toolbar>
    <div class="md-toolbar-tools">
        <md-button class="md-icon-button" aria-label="Menu" ng-click="app.toggleSideNav()">
            <md-icon>menu</md-icon>
        </md-button>
        <h2>
          <span>المساعدات المرضية</span>
        </h2>
    </div>
</md-toolbar>
<md-content class="md-padding">
    <div class="no-content" ng-show="ctrl.rows.length === 0">
        <div class="no-content-box p-30">
            No items found
        </div>
    </div>
    <div>
        <strong>Total: </strong> {{ctrl.sum | number}}
    </div>
    <md-list>
        <md-list-item class="md-3-line" ng-repeat="item in ctrl.rows">
            <span ng-style="{'background-color': item.color}" class="md-avatar initial-img">{{::item.Reference}}</span>
            <div class="md-list-item-text">
                <h3>LBP {{::item.SumHoussatSandouk * 1000 | number}}</h3>                
                <h4>Submitted At: <b>{{::item.REF_DATE | moment:'MMM, DD YYYY'}}</b> <small>ref. {{::item.Karar_n}}</small></h4>
                <h4>Payed At: <b>{{::item.decree.assignments[0].DateIhala | moment:'MMM, DD YYYY'}}</b></h4>
            </div>
            <!--<md-icon aria-label="Edit" class="md-secondary" ng-click="ctrl.openEditDialog(item)">more_vert</md-icon>-->
        </md-list-item>
        <md-divider></md-divider>
        <div class="text-center ot-10">{{::ctrl.rows.length}} rows</div>
    </md-list>
</md-content>
<ui-view></ui-view>