<md-toolbar>
    <div class="md-toolbar-tools">
        <md-button class="md-icon-button" aria-label="Menu" ng-click="app.toggleSideNav()">
            <md-icon>menu</md-icon>
        </md-button>
        <h2>
          <span>الاعدادت</span>
        </h2>
    </div>
</md-toolbar>
<md-list>
    <md-subheader class="md-no-sticky">General settings</md-subheader>
    <md-list-item ng-repeat="item in ctrl.settings">
        <md-icon>{{item.icon}}</md-icon>
        <p> {{ item.name }} </p>
        <md-switch class="md-secondary" ng-change="item.onChange($event, item)" ng-model="item.value"></md-switch>
    </md-list-item>
    <md-divider></md-divider>
</md-list>


<div class="ot-40 text-center">
    <h2 class="heading-sub text-center">Logout</h2>
    <p class="flow-text">Logout from the current session</p>
    <md-button class="btn-block md-raised md-primary" ng-click="ctrl.logout()">Logout</md-button>
</div>