<md-dialog aria-label="User details" class="md-no-padding">
    <form name="form">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>User details</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon aria-label="Close dialog">close</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content style="min-width:800px;max-width:800px;max-height:810px; ">
            <md-content class="md-padding">
                <!-- Profile -->
                <div class="md-inline-form">
                    <form name="form">
                        <p>User</p>
                        <div layout="row">
                            <md-input-container class="md-block">
                                <label>First Name</label>
                                <input md-autofocus name="firstName" ng-model="model.firstName" required>
                                <div ng-messages="form.firstName.$error">
                                    <div ng-message="required">You should enter the first name.</div>
                                </div>
                            </md-input-container>
                            <md-input-container class="md-block">
                                <label>Last Name</label>
                                <input name="lastName" ng-model="model.lastName" required>
                                <div ng-messages="form.lastName.$error">
                                    <div ng-message="required">You should enter the last name.</div>
                                </div>
                            </md-input-container>
                        </div>
                        
                        <md-input-container class="md-block">
                            <label>Email</label>
                            <input name="email" type="email" ng-model="model.email" required>
                            <div ng-messages="form.email.$error">
                                <div ng-message="required">Please enter the user's email</div>
                                <div ng-message="email">Invalid email</div>
                            </div>
                        </md-input-container>

                        <div class="">Description</div>
                        <md-input-container class="md-block">
                            <label>Description</label>
                            <textarea ng-model="model.description" columns="1" md-maxlength="150" rows="5"></textarea>
                        </md-input-container>
                    </form>
                </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <md-button ng-show="isEdit" ng-click="remove()">
                DELETE
            </md-button>
            <span flex></span>
            <md-button ng-click="cancel()">
                Cancel
            </md-button>
            <md-button ng-disabled="form.$invalid" ng-click="save()" style="margin-right:20px;">
                Save
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>