<md-content class="md-padding">
    <h2>Users</h2>

    <div class="no-content" ng-show="ctrl.rows.length === 0">
        <div class="no-content-box p-30">
            No users found

            <div class="ot-30">
                <a class="btn-link" ng-click="ctrl.openEditDialog()">Add one</a>
            </div>

        </div>
    </div>
    <md-list>
        <md-list-item class="md-3-line" ng-repeat="item in ctrl.rows">
            <span ng-style="{'background-color': item.color}" class="md-avatar initial-img" ng-class="{small:item.initialCount > 2}">{{item.initial}}</span>
            <div class="md-list-item-text" layout="column">
                <h3>{{item.fullName }}</h3>
                <h4>{{item.email}}</h4>                
                <p>{{item.description }}</p>
            </div>
            <md-icon aria-label="Edit" class="md-secondary" ng-click="ctrl.openEditDialog(item)">more_vert</md-icon>
        </md-list-item>
        <md-divider></md-divider>
    </md-list>

    <md-fab-speed-dial md-direction="up" class="md-fling quick-fab">
        <md-fab-trigger>
            <md-button aria-label="menu" class="md-fab md-warn">
                <md-icon>menu</md-icon>
            </md-button>
        </md-fab-trigger>
        <md-fab-actions>
            <md-button aria-label="Add project" class="md-fab md-raised md-mini" ng-click="ctrl.openEditDialog()">
                <md-icon>add</md-icon>
            </md-button>
        </md-fab-actions>
    </md-fab-speed-dial>
</md-content>
<ui-view></ui-view>