﻿<!DOCTYPE html>
<!-- build:config -->
<script>
    var Config = {
            appName: 'ul.mutualfund',          
            baseUrl: '/',
            apiUrl : '/api/',
            noCache: false,
            cacheDuration: 0.3,
            cacheProvider: 'memory'
        };

</script>
<!-- endbuild -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="UTF-8">
<title>Mutual Fund | Lebanese University</title>
<base href="/" />

<!--<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material&#x2B;Icons" />-->
<link rel="stylesheet" href="lib/material-icons-local/material-icons.css" />

<!-- build:css -->
<link rel="stylesheet" href="bower_components/angular-material/angular-material.css" />
<link rel="stylesheet" href="lib/loading-bar/loading-bar.css" />
<link rel="stylesheet" href="css/roboto.css" />
<link rel="stylesheet" href="css/app.css" />
<!-- endbuild -->

<body class=blur ng-controller="AppController as app">
    <!--<div id="top-ribbon" class="text-right pt-5 pb-5">
        Ahmad Moussawi
    </div>-->
    <div id="appContainer" layout="row" ng-if="app.showApp()">
        <md-sidenav layout="column" class="md-sidenav-left ng-cloak" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">
            <md-list class="app-menu side-menu">
                <md-list-item ng-repeat="item in app.menu" ui-sref-active="active">
                    <!--<i ng-if="item.notification" class="notification">{{item.notification}}</i>-->
                    <md-button ui-sref="{{item.state}}" ng-click="app.closeSideNav()">
                        <md-icon>{{item.icon}}</md-icon>
                        <span>{{item.title}}</span>
                    </md-button>
                </md-list-item>
            </md-list>
        </md-sidenav>
        <md-content flex ng-cloak id="mainContent" ui-view></md-content>
    </div>

    <div id="bootstrapIndicator" aria-label="loading"></div>

    <!-- build:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="lib/lodash.js"></script>
    <script src="bower_components/moment/moment.js"></script>
    <script src="lib/ArrayHelper.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <script src="bower_components/angular-messages/angular-messages.js"></script>
    <script src="lib/loading-bar/loading-bar.js"></script>
    <script src="lib/amPersistance/amStorage.js"></script>
    <script src="lib/amPersistance/amCache.js"></script>
    <script src="bower_components/pleasejs/dist/Please.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="bower_components/angular-material/angular-material.js"></script>
    <!-- endbuild -->

    <!-- build:remove -->
    <script src="lib/systemjs/system.js"></script>
    <script src="config.js"></script>
    <script>
        System.import('app/app.js')        
            .then(function(){
                angular.bootstrap(document.body, [Config.appName]);
            });
    </script>
    <!-- endbuild -->
</body>